{
  "swagger": "2.0",
  "info": {
    "title": "TwoStepVerification Api v1",
    "version": "v1"
  },
  "host": "twostepverification.roblox.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/metadata": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Gets two step verification system metadata.",
        "description": "The metadata endpoint takes in optional request parameters to output additional context\r\nfor when the user is unauthenticated but attempting to login with two step verification.\r\n            \r\nWhen supplied, all three request parameters must be sent and match up.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userId",
            "description": "The user ID.",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "challengeId",
            "description": "The active two step verification challenge ID if there is one.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionType",
            "description": "The Roblox.TwoStepVerification.Client.TwoStepVerificationActionType associated with the challenge.",
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.MetadataResponse"
            }
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Metadata:GetMetadata"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Gets two step verification configuration for the specified user.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The Id of the user to get the configuration for.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "challengeId",
            "description": "The active challenge for the user (as an alternative when the user is unauthenticated).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionType",
            "description": "The action type the challengeId is associated with.",
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.UserConfiguration"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID."
          },
          "403": {
            "description": "2: The user ID is invalid."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Configuration:GetUserConfiguration"
          ]
        }
      }
    },
    "/v1/users/{userId}/recovery-codes": {
      "get": {
        "tags": [
          "RecoveryCodes"
        ],
        "summary": "Gets the current status of recovery codes for a user.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.RecoveryCodesStatusResponse"
            }
          },
          "400": {
            "description": "2: The user ID is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "RecoveryCodes:GetRecoveryCodesStatus"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/authenticator/verify": {
      "post": {
        "tags": [
          "Authenticator"
        ],
        "summary": "Verifies a two step verification challenge code via authenticator app.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.VerifyCodeRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeResponse"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n2: The user ID is invalid.\r\n10: The two step verification challenge code is invalid."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n9: The two step verification configuration is invalid for this action."
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Authenticator:VerifyCode"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/cross-device/retract": {
      "post": {
        "tags": [
          "CrossDevice"
        ],
        "summary": "Reverts a user's dialog state from ACTIVE to PENDING.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.RetractDialogRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.RetractDialogRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.RetractDialogResponse"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n2: The user ID is invalid."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n19: Challenge denied."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "CrossDevice:RetractDialog"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/cross-device/retry": {
      "post": {
        "tags": [
          "CrossDevice"
        ],
        "summary": "Retry a Cross Device two step verification approval.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.RetryApprovalRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.RetryApprovalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.RetryApprovalResponse"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n2: The user ID is invalid."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n19: Challenge denied."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "CrossDevice:RetryApproval"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/cross-device/verify": {
      "post": {
        "tags": [
          "CrossDevice"
        ],
        "summary": "Verifies a two step verification approval via Cross Device. Cross Device approval does not use a verification code.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.VerifyApprovalRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyApprovalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyApprovalResponse"
            }
          },
          "400": {
            "description": "0: An unknown error occurred with the request.\r\n1: Invalid challenge ID.\r\n2: The user ID is invalid."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n9: The two step verification configuration is invalid for this action.\r\n19: Challenge denied."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "CrossDevice:VerifyApproval"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/email/send-code": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Sends a two step verification challenge code via email.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request body.Roblox.TwoStepVerification.Api.SendCodeRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.SendCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n9: The two step verification configuration is invalid for this action."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n2: The user ID is invalid."
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Email:SendCode"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/email/verify": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Verifies a two step verification challenge with a code sent via email.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request body.Roblox.TwoStepVerification.Api.VerifyCodeRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeResponse"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n9: The two step verification configuration is invalid for this action.\r\n10: The two step verification challenge code is invalid."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n2: The user ID is invalid."
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Email:VerifyCode"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/recovery-codes/verify": {
      "post": {
        "tags": [
          "RecoveryCodes"
        ],
        "summary": "Verifies a two step verification challenge via a recovery code.",
        "description": "Once a recovery code has been used to verify a challenge it cannot be used again.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.VerifyCodeRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeResponse"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n2: The user ID is invalid.\r\n10: The two step verification challenge code is invalid."
          },
          "403": {
            "description": "0: Token Validation Failed"
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "RecoveryCodes:VerifyCode"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/security-key/verify-finish": {
      "post": {
        "tags": [
          "SecurityKey"
        ],
        "summary": "Validates the assertion data returned by the security key.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request bodyRoblox.TwoStepVerification.Api.VerifyCodeRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeResponse"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n2: The user ID is invalid.\r\n10: The two step verification challenge code is invalid."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n9: The two step verification configuration is invalid for this action."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SecurityKey:VerifyFinish"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/security-key/verify-start": {
      "post": {
        "tags": [
          "SecurityKey"
        ],
        "summary": "Provides a challenge for the security key to authenticate.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request bodyRoblox.TwoStepVerification.Api.SendCodeRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.SendCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyStartSecurityKeyResponse"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n2: The user ID is invalid."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n8: The user is not allowed to perform the requested action."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SecurityKey:VerifyStart"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/sms/send-code": {
      "post": {
        "tags": [
          "SMS"
        ],
        "summary": "Sends a two step verification code via SMS for the specified user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request body.Roblox.TwoStepVerification.Api.SendCodeRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.SendCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n9: The two step verification configuration is invalid for this action."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n2: The user ID is invalid."
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SMS:SendCode"
          ]
        }
      }
    },
    "/v1/users/{userId}/challenges/sms/verify": {
      "post": {
        "tags": [
          "SMS"
        ],
        "summary": "Verifies a two step verification challenge with a code sent via SMS.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request body.Roblox.TwoStepVerification.Api.VerifyCodeRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.VerifyCodeResponse"
            }
          },
          "400": {
            "description": "1: Invalid challenge ID.\r\n2: The user ID is invalid.\r\n10: The two step verification challenge code is invalid."
          },
          "403": {
            "description": "0: Token Validation Failed"
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SMS:VerifyCode"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/authenticator/disable": {
      "post": {
        "tags": [
          "Authenticator"
        ],
        "summary": "Disables two step verification via authenticator for the specified user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.DisableTwoStepVerificationRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.DisableTwoStepVerificationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "2: The user ID is invalid.\r\n4: The password is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n6: The account pin is locked.\r\n8: The user is not allowed to perform the requested action."
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Authenticator:DisableTwoStepVerification"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/authenticator/enable": {
      "post": {
        "tags": [
          "Authenticator"
        ],
        "summary": "Initiates enabling authenticator-based two step verification for the specified user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.EnableTwoStepVerificationRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.EnableTwoStepVerificationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.EnableAuthenticatorResponse"
            }
          },
          "400": {
            "description": "2: The user ID is invalid.\r\n3: The email is invalid.\r\n4: The password is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n6: The account pin is locked.\r\n11: The two step verification configuration is already enabled."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Authenticator:EnableAuthenticator"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/authenticator/enable-verify": {
      "post": {
        "tags": [
          "Authenticator"
        ],
        "summary": "Finishes enabling authenticator-based two step verification for the specified user.",
        "description": "Enabling authenticator-based two step verification requires two parts to help ensure\r\nthe user has properly stored the authenticator key in their authenticator app.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.EnableVerifyAuthenticatorRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.EnableVerifyAuthenticatorRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.EnableVerifyAuthenticatorResponse"
            }
          },
          "400": {
            "description": "2: The user ID is invalid.\r\n4: The password is invalid.\r\n10: The two step verification challenge code is invalid.\r\n12: Invalid setup token."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n11: The two step verification configuration is already enabled."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Authenticator:EnableVerifyAuthenticator"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/email/disable": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Disables two step verification via email for the specified user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.DisableTwoStepVerificationRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.DisableTwoStepVerificationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "4: The password is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n2: The user ID is invalid.\r\n6: The account pin is locked.\r\n8: The user is not allowed to perform the requested action."
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Email:DisableTwoStepVerification"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/email/enable": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Enables two step verification via email for the specified user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.EnableTwoStepVerificationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "3: The email is invalid.\r\n4: The password is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n2: The user ID is invalid.\r\n6: The account pin is locked."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "Email:EnableTwoStepVerification"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/security-key/disable": {
      "post": {
        "tags": [
          "SecurityKey"
        ],
        "summary": "Disables a batch of credentials for the specified user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request bodyRoblox.TwoStepVerification.Api.DisableTwoStepVerificationRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.DisableSecurityKeyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "4: The password is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n6: The account pin is locked.\r\n8: The user is not allowed to perform the requested action."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SecurityKey:DisableSecurityKey"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/security-key/enable": {
      "post": {
        "tags": [
          "SecurityKey"
        ],
        "summary": "Initiates security key registration by providing credential creation options.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request body.Roblox.TwoStepVerification.Api.EnableTwoStepVerificationRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.EnableTwoStepVerificationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.EnableSecurityKeyResponse"
            }
          },
          "400": {
            "description": "2: The user ID is invalid.\r\n4: The password is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n9: The two step verification configuration is invalid for this action.\r\n16: Reached limit of security keys registered."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SecurityKey:EnableSecurityKey"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/security-key/enable-verify": {
      "post": {
        "tags": [
          "SecurityKey"
        ],
        "summary": "Finishes security key registration and stores credential. Enables security key as a 2sv media type if it is a user's first key.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request body.Roblox.TwoStepVerification.Api.EnableVerifySecurityKeyRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.EnableVerifySecurityKeyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "2: The user ID is invalid.\r\n17: Invalid security key nickname."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n17: Invalid security key nickname."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SecurityKey:EnableVerifySecurityKey"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/security-key/list": {
      "post": {
        "tags": [
          "SecurityKey"
        ],
        "summary": "List a user's registered security keys.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.ListSecurityKeyResponse"
            }
          },
          "400": {
            "description": "2: The user ID is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed"
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SecurityKey:ListSecurityKey"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/sms/disable": {
      "post": {
        "tags": [
          "SMS"
        ],
        "summary": "Disables two step verification via SMS for the specified user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request body.Roblox.TwoStepVerification.Api.DisableTwoStepVerificationRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.DisableTwoStepVerificationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "4: The password is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n2: The user ID is invalid.\r\n6: The account pin is locked.\r\n8: The user is not allowed to perform the requested action."
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SMS:DisableTwoStepVerification"
          ]
        }
      }
    },
    "/v1/users/{userId}/configuration/sms/enable": {
      "post": {
        "tags": [
          "SMS"
        ],
        "summary": "Enables two step verification via SMS for the specified user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The request body.Roblox.TwoStepVerification.Api.EnableTwoStepVerificationRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.EnableTwoStepVerificationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "4: The password is invalid.\r\n15: The phone number is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n2: The user ID is invalid.\r\n6: The account pin is locked."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance.\r\n8: The user is not allowed to perform the requested action."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SMS:EnableTwoStepVerification"
          ]
        }
      }
    },
    "/v1/users/{userId}/recovery-codes/clear": {
      "post": {
        "tags": [
          "RecoveryCodes"
        ],
        "summary": "Clears any existing recovery codes for the user.",
        "description": "Clearing recovery codes voids any recovery codes previously generated for the user.\r\nNew recovery codes will have to be generated to pass two step verification via recovery code.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.ClearRecoveryCodesRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.ClearRecoveryCodesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "2: The user ID is invalid.\r\n4: The password is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n6: The account pin is locked."
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "RecoveryCodes:ClearRecoveryCodes"
          ]
        }
      }
    },
    "/v1/users/{userId}/recovery-codes/regenerate": {
      "post": {
        "tags": [
          "RecoveryCodes"
        ],
        "summary": "Clears any existing recovery codes and generates a new batch of recovery codes.",
        "description": "Two step verification recovery codes do not enforce that two step verification must be passed when logging in.\r\nAt least one two step verification media type must be enabled to trigger the two step verification flow.\r\nRecovery codes are intended to be used to pass two step verification when the enabled media type is unavailable.\r\n            \r\nRecovery codes generated by this endpoint do not have an expiration.\r\n            \r\nOnce a recovery code generated by this endpoint has been used it cannot be used again.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID to generate recovery codes for.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The Roblox.TwoStepVerification.Api.RegenerateRecoveryCodesRequest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.RegenerateRecoveryCodesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.TwoStepVerification.Api.RegenerateRecoveryCodesResponse"
            }
          },
          "400": {
            "description": "2: The user ID is invalid.\r\n4: The password is invalid."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n6: The account pin is locked."
          },
          "429": {
            "description": "5: Too many requests."
          },
          "503": {
            "description": "7: Two step verification is currently under maintenance."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "RecoveryCodes:RegenerateRecoveryCodes"
          ]
        }
      }
    }
  },
  "definitions": {
    "Roblox.TwoStepVerification.Api.ClearRecoveryCodesRequest": {
      "description": "Request information needed to clear existing recovery codes.",
      "type": "object",
      "properties": {
        "password": {
          "description": "The user's password.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.DisableSecurityKeyRequest": {
      "description": "Request information needed to disable two step verification.",
      "type": "object",
      "properties": {
        "credentialNicknames": {
          "description": "A array of nicknames of credentials to be deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Roblox.TwoStepVerification.Api.DisableTwoStepVerificationRequest": {
      "description": "Request information needed to disable two step verification.",
      "type": "object",
      "properties": {
        "password": {
          "description": "The user's password.",
          "type": "string"
        },
        "reauthenticationToken": {
          "description": "A re-authentication token redeemable for any password check.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.EnableAuthenticatorResponse": {
      "description": "Response parameters for initiating enabling authenticator-based two step verification.",
      "type": "object",
      "properties": {
        "setupToken": {
          "description": "The setup token for turning on authenticator.",
          "type": "string"
        },
        "qrCodeImageUrl": {
          "description": "The Url to the QR code image to scan into the authenticator app.",
          "type": "string"
        },
        "manualEntryKey": {
          "description": "The manual entry key to input into the authenticator app.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.EnableSecurityKeyResponse": {
      "description": "Response parameters for initiating enabling security key-based two step verification.",
      "type": "object",
      "properties": {
        "creationOptions": {
          "description": "The credential registration options for the hardware key.",
          "type": "string"
        },
        "sessionId": {
          "description": "The session of the registration attempt.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.EnableTwoStepVerificationRequest": {
      "description": "Request parameters for enabling two step verification.",
      "type": "object",
      "properties": {
        "password": {
          "description": "The user's password.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.EnableVerifyAuthenticatorRequest": {
      "description": "Request parameters for authenticator enabling-verify.",
      "type": "object",
      "properties": {
        "setupToken": {
          "description": "The setup token from the enable authenticator request.",
          "type": "string"
        },
        "code": {
          "description": "The code from the authenticator app.",
          "type": "string"
        },
        "password": {
          "description": "The user's password.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.EnableVerifyAuthenticatorResponse": {
      "description": "Response parameters for finishing enabling authenticator-based two-step verification.",
      "type": "object",
      "properties": {
        "recoveryCodes": {
          "description": "Recovery codes automatically generated for the user (when applicable; the user should\r\nnot already have a set of recovery codes).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Roblox.TwoStepVerification.Api.EnableVerifySecurityKeyRequest": {
      "description": "Request information needed to complete the registration of a security key.",
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "The session of the registration attempt.",
          "type": "string"
        },
        "credentialNickname": {
          "description": "The nickname of the new credential.",
          "type": "string"
        },
        "attestationResponse": {
          "description": "The hardware key's response.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.ListSecurityKeyResponse": {
      "description": "Response parameters for listing all credentials under a user.",
      "type": "object",
      "properties": {
        "credentials": {
          "description": "An array of credentials for a user.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.TwoStepVerification.Api.SecurityKeyCredential"
          }
        }
      }
    },
    "Roblox.TwoStepVerification.Api.MetadataResponse": {
      "description": "Two step verification system metadata.",
      "type": "object",
      "properties": {
        "twoStepVerificationEnabled": {
          "description": "Whether or not two step verification is globally enabled.",
          "type": "boolean"
        },
        "authenticatorQrCodeSize": {
          "description": "Authenticator QR code image dimensions.",
          "type": "string"
        },
        "emailCodeLength": {
          "format": "int32",
          "description": "Number of characters in an email-based two step verification code.",
          "type": "integer"
        },
        "authenticatorCodeLength": {
          "format": "int32",
          "description": "Number of characters in an authenticator-based two step verification code.",
          "type": "integer",
          "readOnly": true
        },
        "authenticatorHelpSiteAddress": {
          "description": "Address of the help site provided to users to help them with authenticator.",
          "type": "string"
        },
        "isPasswordRequiredForEnablingAuthenticator": {
          "description": "Whether or not a password is required for enabling authenticator.",
          "type": "boolean"
        },
        "isPasswordRequiredForEnablingEmailTwoStepVerification": {
          "description": "Whether or not a password is required for enabling email 2sv.",
          "type": "boolean"
        },
        "isUsingTwoStepWebviewComponent": {
          "description": "Whether or not we're using the new 2sv webview component or the manual pop up",
          "type": "boolean"
        },
        "isTwoStepEnabledRequiredForEmailPasswordRequirement": {
          "description": "Whether or not a 2sv method has to be enabled to require password when enabling email two step verification.",
          "type": "boolean"
        },
        "isTwoStepEnabledRequiredForAuthenticatorPasswordRequirement": {
          "description": "Whether or not a 2sv method has to be enabled to require password when enabling authenticator.",
          "type": "boolean"
        },
        "isSingleMethodEnforcementEnabled": {
          "description": "Whether or not the frontend should enforce single method logic.",
          "type": "boolean"
        },
        "isSmsTwoStepVerificationAvailable": {
          "description": "Whether or not sms two step verification is available for the user.",
          "type": "boolean"
        },
        "isSecurityKeyTwoStepVerificationAvailable": {
          "description": "Whether or not security key two step verification is available for the user.",
          "type": "boolean"
        },
        "isAuthenticatorWithVerifiedPhoneEnabled": {
          "description": "Whether or not someone can enable authenticator with just a verified phone number.",
          "type": "boolean"
        },
        "isPasswordRequiredForEnablingSecurityKey": {
          "description": "Whether or not a password is required for enabling Security Key 2SV.",
          "type": "boolean"
        },
        "isPasswordRequiredForEnablingSms2SV": {
          "description": "Whether or not a password is required for enabling SMS 2SV.",
          "type": "boolean"
        },
        "isPasswordRequiredForChangingRecoveryCodes": {
          "description": "Whether or not a password is required for making updates to recovery codes.",
          "type": "boolean"
        },
        "isPasswordRequiredForDisablingAuthenticator": {
          "description": "Whether or not a password is required for disabling authenticator.",
          "type": "boolean"
        },
        "isPasswordRequiredForDisablingEmailTwoStepVerification": {
          "description": "Whether or not a password is required for disabling email 2sv.",
          "type": "boolean"
        },
        "isPasswordRequiredForDisablingSms2SV": {
          "description": "Whether or not a password is required for disabling SMS 2SV.",
          "type": "boolean"
        },
        "isRecoveryCodeGenerationForAuthenticatorSetupEnabled": {
          "description": "Whether recovery code generation is attempted upon completion of authenticator setup.",
          "type": "boolean"
        },
        "isSecurityKeyOnAllPlatformsEnabled": {
          "description": "Whether security keys on all platforms is enabled.",
          "type": "boolean"
        },
        "receiveWarningsOnDisableTwoStep": {
          "description": "Whether users should receive additional warnings when disabling 2SV.",
          "type": "boolean"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.RecoveryCodesStatusResponse": {
      "description": "The response for getting the status of recovery codes for a user.",
      "type": "object",
      "properties": {
        "activeCount": {
          "format": "int32",
          "description": "The number of unused recovery codes the user has available.",
          "type": "integer"
        },
        "created": {
          "format": "date-time",
          "description": "The date time the recovery codes were generated at.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.RegenerateRecoveryCodesRequest": {
      "description": "Request information needed to regenerate recovery codes.",
      "type": "object",
      "properties": {
        "password": {
          "description": "The user's password.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.RegenerateRecoveryCodesResponse": {
      "description": "The response for regenerating recovery codes.",
      "type": "object",
      "properties": {
        "recoveryCodes": {
          "description": "The collection of generated recovery codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Roblox.TwoStepVerification.Api.RetractDialogRequest": {
      "description": "Request parameters for retracting a Cross Device dialog from state ACTIVE to PENDING.",
      "type": "object",
      "properties": {
        "challengeId": {
          "description": "The two step verification challenge ID.",
          "type": "string"
        },
        "actionType": {
          "format": "int32",
          "description": "The Roblox.TwoStepVerification.Client.TwoStepVerificationActionType associated with the challenge. ['Unknown' = 0, 'Login' = 1, 'RobuxSpend' = 2, 'ItemTrade' = 3, 'Resale' = 4, 'PasswordReset' = 5, 'RevertAccount' = 6, 'Generic' = 7, 'GenericWithRecoveryCodes' = 8]",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8
          ],
          "type": "integer"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.RetractDialogResponse": {
      "description": "Result for a successful attempt to retract a Cross Device state from ACTIVE to PENDING.",
      "type": "object"
    },
    "Roblox.TwoStepVerification.Api.RetryApprovalRequest": {
      "description": "Request parameters for retrying a Cross Device two step verification approval.",
      "type": "object",
      "properties": {
        "challengeId": {
          "description": "The two step verification challenge ID.",
          "type": "string"
        },
        "actionType": {
          "format": "int32",
          "description": "The Roblox.TwoStepVerification.Client.TwoStepVerificationActionType associated with the challenge. ['Unknown' = 0, 'Login' = 1, 'RobuxSpend' = 2, 'ItemTrade' = 3, 'Resale' = 4, 'PasswordReset' = 5, 'RevertAccount' = 6, 'Generic' = 7, 'GenericWithRecoveryCodes' = 8]",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8
          ],
          "type": "integer"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.RetryApprovalResponse": {
      "description": "Result for a successful Cross Device approval retry, an empty JSON.",
      "type": "object"
    },
    "Roblox.TwoStepVerification.Api.SecurityKeyCredential": {
      "description": "Credential information that includes its nickname and any additional metadata.",
      "type": "object",
      "properties": {
        "nickname": {
          "description": "Nickname the user has chosen for this credential.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.SendCodeRequest": {
      "description": "Request parameters for sending a two step verification code.",
      "type": "object",
      "properties": {
        "challengeId": {
          "description": "The two step verification challenge ID.",
          "type": "string"
        },
        "actionType": {
          "format": "int32",
          "description": "The Roblox.TwoStepVerification.Client.TwoStepVerificationActionType associated with the challenge. ['Unknown' = 0, 'Login' = 1, 'RobuxSpend' = 2, 'ItemTrade' = 3, 'Resale' = 4, 'PasswordReset' = 5, 'RevertAccount' = 6, 'Generic' = 7, 'GenericWithRecoveryCodes' = 8]",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8
          ],
          "type": "integer"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.UserConfiguration": {
      "description": "The users two step verification configuration.",
      "type": "object",
      "properties": {
        "primaryMediaType": {
          "format": "int32",
          "description": "The preferred two step verification method for the user.",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5
          ],
          "type": "integer"
        },
        "methods": {
          "description": "The two step verification methods associated with the user.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.TwoStepVerification.Api.UserConfigurationMethod"
          }
        }
      }
    },
    "Roblox.TwoStepVerification.Api.UserConfigurationMethod": {
      "description": "A user configuration method option.",
      "type": "object",
      "properties": {
        "mediaType": {
          "format": "int32",
          "description": "The Roblox.TwoStepVerification.Client.TwoStepVerificationMediaType for the method. ['Email' = 0, 'SMS' = 1, 'Authenticator' = 2, 'RecoveryCode' = 3, 'SecurityKey' = 4, 'CrossDevice' = 5]",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5
          ],
          "type": "integer"
        },
        "enabled": {
          "description": "Whether or not the method is enabled.",
          "type": "boolean"
        },
        "updated": {
          "format": "date-time",
          "description": "The last time this method was updated for the user.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.VerifyApprovalRequest": {
      "description": "Request parameters for verifying a Cross Device two step verification approval. Does not use verification code.",
      "type": "object",
      "properties": {
        "challengeId": {
          "description": "The two step verification challenge ID.",
          "type": "string"
        },
        "actionType": {
          "format": "int32",
          "description": "The Roblox.TwoStepVerification.Client.TwoStepVerificationActionType associated with the challenge. ['Unknown' = 0, 'Login' = 1, 'RobuxSpend' = 2, 'ItemTrade' = 3, 'Resale' = 4, 'PasswordReset' = 5, 'RevertAccount' = 6, 'Generic' = 7, 'GenericWithRecoveryCodes' = 8]",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8
          ],
          "type": "integer"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.VerifyApprovalResponse": {
      "description": "Result for a successful Cross Device approval verification.",
      "type": "object",
      "properties": {
        "verificationToken": {
          "description": "The verification token.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.VerifyCodeRequest": {
      "description": "Request parameters for verifying a two step verification code.",
      "type": "object",
      "properties": {
        "challengeId": {
          "description": "The two step verification challenge ID.",
          "type": "string"
        },
        "actionType": {
          "format": "int32",
          "description": "The Roblox.TwoStepVerification.Client.TwoStepVerificationActionType associated with the challenge. ['Unknown' = 0, 'Login' = 1, 'RobuxSpend' = 2, 'ItemTrade' = 3, 'Resale' = 4, 'PasswordReset' = 5, 'RevertAccount' = 6, 'Generic' = 7, 'GenericWithRecoveryCodes' = 8]",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8
          ],
          "type": "integer"
        },
        "code": {
          "description": "The two step verification code.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.VerifyCodeResponse": {
      "description": "Result for a successful verification.",
      "type": "object",
      "properties": {
        "verificationToken": {
          "description": "The verification token.",
          "type": "string"
        }
      }
    },
    "Roblox.TwoStepVerification.Api.VerifyStartSecurityKeyResponse": {
      "description": "Result for a successful verification.",
      "type": "object",
      "properties": {
        "authenticationOptions": {
          "description": "The authentication options for the hardware key.",
          "type": "string"
        },
        "sessionId": {
          "description": "The session of the authentication attempt.",
          "type": "string"
        }
      }
    },
    "Roblox.Web.WebAPI.ApiEmptyResponseModel": {
      "type": "object"
    }
  }
}