{
  "swagger": "2.0",
  "info": {
    "title": "AdConfiguration Api v2",
    "version": "v2"
  },
  "host": "adconfiguration.roblox.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/sponsored-campaigns": {
      "get": {
        "tags": [
          "SponsoredCampaignV2"
        ],
        "summary": "Gets a page of Roblox.AdConfiguration.Api.SponsoredCampaignModel with specified input parameters.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "campaignTargetType",
            "description": "The campaign target type enum value",
            "required": true,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          {
            "in": "query",
            "name": "campaignTargetId",
            "description": "The id of the campaign target",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "includeReportingStats",
            "description": "Indicates whether to include reporting stats in the response",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "isArchived",
            "description": "Indicates whether to retrieve archived ads",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "pageCursor",
            "description": "The cursor of the page to retrieve. If empty, fetches the first page",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.GetSponsoredCampaignsResponse"
            }
          },
          "400": {
            "description": "22: Invalid campaign target ID.\r\n23: Invalid campaign target type."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "503": {
            "description": "1: This feature is disabled."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredCampaignV2:GetOwnedSponsoredCampaigns"
          ]
        }
      }
    },
    "/v2/sponsored-campaigns/eligible-asset-type-ids": {
      "get": {
        "tags": [
          "SponsoredCampaignV2"
        ],
        "summary": "Get all asset type IDs that are eligible to be sponsored.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "10: Insufficient permissions."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredCampaignV2:GetEligibleAssetTypeIds"
          ]
        }
      }
    },
    "/v2/sponsored-campaigns/multi-get-can-user-sponsor": {
      "get": {
        "tags": [
          "SponsoredCampaignV2"
        ],
        "summary": "Checks whether the targets are eligible for sponsorship, and\r\nif the user is authorized to sponsor the targets.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "campaignTargetType",
            "description": "Ads.Management.Service.CampaignTargetType.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          {
            "in": "query",
            "name": "campaignTargetIds",
            "description": "The IDs of the campaign targets.",
            "required": true,
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "boolean"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredCampaignV2:MultiGetCanUserSponsor"
          ]
        }
      }
    },
    "/v2/sponsored-games": {
      "get": {
        "tags": [
          "SponsoredGamesV2"
        ],
        "summary": "Gets a page of Roblox.AdConfiguration.Api.SponsoredGameV2Model with specified input parameters.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "universeId",
            "description": "The universe id of the ad campaign.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "includeReportingStats",
            "description": "Indicates whether to include reporting stats in the response.",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "isArchived",
            "description": "Indicates whether to retrieve archived ads.",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "pageCursor",
            "description": "The cursor of the page to retrieve.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.GetSponsoredGamesResponse"
            }
          },
          "400": {
            "description": "9: Cannot load the universe for the specified universe id.\r\n9: Cannot load the universe for the specified universe id."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "503": {
            "description": "1: This feature is disabled."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredGamesV2:GetSponsoredGames"
          ]
        }
      }
    },
    "/v2/sponsored-games/universes": {
      "get": {
        "tags": [
          "SponsoredGamesV2"
        ],
        "summary": "Gets a list of universes for the authenticated user, or the given group, ordered by most recently created sponsored game ads.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "groupId",
            "description": "The group id, if applicable.",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.GetRecentAdsRankedUniversesResponse"
            }
          },
          "400": {
            "description": "19: Invalid group id."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "10: Insufficient permissions."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredGamesV2:GetRecentAdsRankedUniverses"
          ]
        }
      }
    },
    "/v2/sponsored-campaigns/create": {
      "post": {
        "tags": [
          "SponsoredCampaignV2"
        ],
        "summary": "Creates a complete ad. Including ad campaign, ad set, escrow, and the ad.\r\nCurrently intended for creation of sponsorships only.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "Roblox.AdConfiguration.Api.Models.CreateSponsoredCampaignRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.CreateSponsoredCampaignRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "400": {
            "description": "2: Daily budget is lower than minimum allowed.\r\n3: Total budget must be greater than 0.\r\n4: Ad name cannot be empty.\r\n5: Start date must not be a future date.\r\n6: End date must be a future date.\r\n7: Start date must be earlier than end date.\r\n8: Total budget does not match daily spend and number of days being scheduled\r\n9: Cannot load the universe for the specified universe id.\r\n11: Invalid target age bracket.\r\n12: Invalid target gender.\r\n13: Invalid target device type.\r\n14: Invalid ad set id.\r\n15: Ad name cannot exceed 255 characters.\r\n16: Insufficient Robux balance.\r\n17: Name has already been taken.\r\n18: Daily budget is higher than maximum allowed.\r\n19: Invalid group id.\r\n20: Number of days scheduled exceeded maximum days allowed.\r\n21: Your experience is currently not eligible for advertising.\r\n22: Invalid campaign target ID.\r\n23: Invalid campaign target type.\r\n24: Invalid creative ID.\r\n25: Invalid creative type.\r\n28: Total budget must be campaign duration * daily bid\r\n29: The target is not eligible for new campaigns\r\n30: Invalid user ID"
          },
          "401": {
            "description": "0: Authorization has been denied for this request.\r\n10: Insufficient permissions."
          },
          "403": {
            "description": "0: Token Validation Failed"
          },
          "500": {
            "description": "0: An unknown error occurred.\r\n31: Internal server error"
          },
          "503": {
            "description": "1: This feature is disabled."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredCampaignV2:CreateSponsoredCampaign"
          ]
        }
      }
    },
    "/v2/sponsored-campaigns/eligible-campaign-targets": {
      "post": {
        "tags": [
          "SponsoredCampaignV2"
        ],
        "summary": "Returns a collection of Roblox.AdConfiguration.Api.Models.CampaignTargetModel that the user is authorized to sponsor, ordered by most recently advertised",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "Roblox.AdConfiguration.Api.Models.GetEligibleCampaignTargetsRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.GetEligibleCampaignTargetsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.GetCampaignTargetsResponse"
            }
          },
          "400": {
            "description": "19: Invalid group id."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n10: Insufficient permissions."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredCampaignV2:GetEligibleCampaignTargets"
          ]
        }
      }
    },
    "/v2/sponsored-campaigns/stop": {
      "post": {
        "tags": [
          "SponsoredCampaignV2"
        ],
        "summary": "Stops a sponsored campaign / ad (ad set) from running. Initiated by a user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "Roblox.AdConfiguration.Api.Models.StopSponsoredCampaignRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.StopSponsoredCampaignRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "400": {
            "description": "10: Insufficient permissions.\r\n14: Invalid ad set id.\r\n31: Internal server error"
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed"
          },
          "503": {
            "description": "1: This feature is disabled."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredCampaignV2:StopSponsoredCampaign"
          ]
        }
      }
    },
    "/v2/sponsored-games/create": {
      "post": {
        "tags": [
          "SponsoredGamesV2"
        ],
        "summary": "Creates a new sponsored game ad with specified input parameters.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "Roblox.AdConfiguration.Api.CreateSponsoredGameV2Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.CreateSponsoredGameV2Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "2: Daily budget is lower than minimum allowed.\r\n3: Total budget must be greater than 0.\r\n4: Ad name cannot be empty.\r\n5: Start date must not be a future date.\r\n6: End date must be a future date.\r\n7: Start date must be earlier than end date.\r\n8: Total budget does not match daily spend and number of days being scheduled\r\n9: Cannot load the universe for the specified universe id.\r\n11: Invalid target age bracket.\r\n12: Invalid target gender.\r\n13: Invalid target device type.\r\n14: Invalid ad set id.\r\n15: Ad name cannot exceed 255 characters.\r\n16: Insufficient Robux balance.\r\n17: Name has already been taken.\r\n18: Daily budget is higher than maximum allowed.\r\n19: Invalid group id.\r\n20: Number of days scheduled exceeded maximum days allowed.\r\n21: Your experience is currently not eligible for advertising.\r\n22: Invalid campaign target ID.\r\n23: Invalid campaign target type.\r\n24: Invalid creative ID.\r\n25: Invalid creative type.\r\n28: Total budget must be campaign duration * daily bid\r\n29: The target is not eligible for new campaigns\r\n30: Invalid user ID"
          },
          "401": {
            "description": "0: Authorization has been denied for this request.\r\n10: Insufficient permissions."
          },
          "403": {
            "description": "0: Token Validation Failed"
          },
          "500": {
            "description": "0: An unknown error occurred.\r\n31: Internal server error"
          },
          "503": {
            "description": "1: This feature is disabled."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredGamesV2:CreateSponsoredGame"
          ]
        }
      }
    },
    "/v2/sponsored-games/stop": {
      "post": {
        "tags": [
          "SponsoredGamesV2"
        ],
        "summary": "To stop a sponsored-game ad (ad set) from running, initiated by a user.",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "Roblox.AdConfiguration.Api.Models.StopSponsoredGameV2Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.StopSponsoredGameV2Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "14: Invalid ad set id."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n10: Insufficient permissions."
          },
          "503": {
            "description": "1: This feature is disabled."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredGamesV2:StopSponsoredGame"
          ]
        }
      }
    }
  },
  "definitions": {
    "Roblox.AdConfiguration.Api.CreateSponsoredGameV2Request": {
      "description": "A request model for creating a sponsored game",
      "type": "object",
      "properties": {
        "universeId": {
          "format": "int64",
          "description": "The target universe id",
          "type": "integer"
        },
        "targetGender": {
          "format": "int32",
          "description": "Targeting gender(s) of the ad set ['Undefined' = 1, 'Male' = 2, 'Female' = 4]",
          "enum": [
            1,
            2,
            4
          ],
          "type": "integer"
        },
        "targetAgeBracket": {
          "format": "int32",
          "description": "Targeting age bracket(s) of the ad set ['Undefined' = 1, 'AgeUnder13' = 2, 'Age13OrOver' = 4, 'Age13To16' = 8, 'Age17OrOver' = 16]",
          "enum": [
            1,
            2,
            4,
            8,
            16
          ],
          "type": "integer"
        },
        "budgetInRobux": {
          "format": "int64",
          "description": "The budget in Robux",
          "type": "integer"
        },
        "startDate": {
          "format": "date-time",
          "description": "The start date of the ad set",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "description": "The end date of the ad set",
          "type": "string"
        },
        "targetDeviceType": {
          "format": "int32",
          "description": "Targeting device type(s) of the ad set ['Undefined' = 1, 'Computer' = 2, 'Phone' = 4, 'Tablet' = 8, 'Console' = 16]",
          "enum": [
            1,
            2,
            4,
            8,
            16
          ],
          "type": "integer"
        },
        "adName": {
          "description": "The name of the Ad",
          "type": "string"
        },
        "bidAmountInRobux": {
          "format": "int64",
          "description": "The bid amount of the Ad in Robux",
          "type": "integer"
        }
      }
    },
    "Roblox.AdConfiguration.Api.CreativeModel": {
      "description": "A model representing an Ad Creative (for example, an ad thumbnail).",
      "type": "object",
      "properties": {
        "creativeId": {
          "format": "int64",
          "description": "The ID of the creative. Typically, a thumbnail's imageId.",
          "type": "integer",
          "example": 1
        },
        "creativeType": {
          "format": "int32",
          "description": "The type of the ad creative. Typically, CreativeType.Image. ['Undefined' = 0, 'Image' = 1, 'Video' = 2]",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer",
          "example": 1
        }
      }
    },
    "Roblox.AdConfiguration.Api.GetSponsoredCampaignsResponse": {
      "description": "A response model for retrieving a page of Roblox.AdConfiguration.Api.SponsoredCampaignModel.",
      "type": "object",
      "properties": {
        "sponsoredCampaigns": {
          "description": "A collection of Roblox.AdConfiguration.Api.SponsoredCampaignModel.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.AdConfiguration.Api.SponsoredCampaignModel"
          }
        },
        "previousPageCursor": {
          "description": "The cursor for retrieving the previous page, if present.",
          "type": "string"
        },
        "nextPageCursor": {
          "description": "The cursor for retrieving the next page, if present.",
          "type": "string"
        }
      }
    },
    "Roblox.AdConfiguration.Api.GetSponsoredGamesResponse": {
      "description": "A response model for retrieving a page of Roblox.AdConfiguration.Api.SponsoredGameV2Model.",
      "type": "object",
      "properties": {
        "sponsoredGames": {
          "description": "A collection of Roblox.AdConfiguration.Api.SponsoredGameV2Model.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.AdConfiguration.Api.SponsoredGameV2Model"
          }
        },
        "previousPageCursor": {
          "description": "The cursor for retrieving the previous page, if present.",
          "type": "string"
        },
        "nextPageCursor": {
          "description": "The cursor for retrieving the next page, if present.",
          "type": "string"
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.CampaignTargetModel": {
      "description": "Represents a sponsored ad campaign target",
      "type": "object",
      "properties": {
        "campaignTargetType": {
          "format": "int32",
          "description": "The campaign target type ['Undefined' = 0, 'Universe' = 1, 'Asset' = 2, 'ImmersiveAd' = 3]",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "campaignTargetId": {
          "format": "int64",
          "description": "The ID of the campaign target",
          "type": "integer"
        },
        "name": {
          "description": "The name of the campaign target (i.e. the asset name, universe name, group name, etc.)",
          "type": "string"
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.CreateSponsoredCampaignRequest": {
      "description": "A request model for creating a sponsored game",
      "type": "object",
      "properties": {
        "campaignTargetId": {
          "format": "int64",
          "description": "The ID of the campaign target",
          "type": "integer",
          "example": 1
        },
        "campaignTargetType": {
          "format": "int32",
          "description": "The type of the campaign target ['Undefined' = 0, 'Universe' = 1, 'Asset' = 2, 'ImmersiveAd' = 3]",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer",
          "example": 2
        },
        "targetGender": {
          "format": "int32",
          "description": "Targeting gender(s) of the ad set ['Undefined' = 1, 'Male' = 2, 'Female' = 4]",
          "enum": [
            1,
            2,
            4
          ],
          "type": "integer",
          "example": 4
        },
        "targetAgeBracket": {
          "format": "int32",
          "description": "Targeting age bracket(s) of the ad set ['Undefined' = 1, 'AgeUnder13' = 2, 'Age13OrOver' = 4, 'Age13To16' = 8, 'Age17OrOver' = 16]",
          "enum": [
            1,
            2,
            4,
            8,
            16
          ],
          "type": "integer",
          "example": 4
        },
        "startDate": {
          "format": "date-time",
          "description": "The start date of the ad set",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "description": "The end date of the ad set",
          "type": "string"
        },
        "targetDeviceType": {
          "format": "int32",
          "description": "Targeting device type(s) of the ad set ['Undefined' = 1, 'Computer' = 2, 'Phone' = 4, 'Tablet' = 8, 'Console' = 16]",
          "enum": [
            1,
            2,
            4,
            8,
            16
          ],
          "type": "integer",
          "example": 2
        },
        "campaignName": {
          "description": "The name of the Campaign / Ad",
          "type": "string"
        },
        "dailyBidAmountInRobux": {
          "format": "int64",
          "description": "The daily bid amount for the campaign / ad, in Robux",
          "type": "integer",
          "example": 101
        },
        "placementLocation": {
          "format": "int32",
          "description": "The location to place the campaign ['Undefined' = 1, 'GameSort' = 2, 'AvatarShop' = 4, 'ItemDetails' = 8, 'HomePage' = 16, 'Billboard300x250' = 32, 'Billboard600x300' = 64, 'Billboard300x600' = 128]",
          "enum": [
            1,
            2,
            4,
            8,
            16,
            32,
            64,
            128
          ],
          "type": "integer",
          "example": 4
        },
        "creativeModel": {
          "$ref": "#/definitions/Roblox.AdConfiguration.Api.CreativeModel"
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.GetCampaignTargetsResponse": {
      "description": "The response model which returns a collection of Roblox.AdConfiguration.Api.Models.CampaignTargetModel",
      "type": "object",
      "properties": {
        "campaignTargetModels": {
          "description": "Gets or sets a collection of Roblox.AdConfiguration.Api.Models.CampaignTargetModel",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.CampaignTargetModel"
          }
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.GetEligibleCampaignTargetsRequest": {
      "description": "A model represents a request to stop a sponsored campaign / ad.",
      "type": "object",
      "properties": {
        "campaignTargetTypes": {
          "description": "The list of campaign types we want to include in the results",
          "type": "array",
          "items": {
            "format": "int32",
            "description": " ['Undefined' = 0, 'Universe' = 1, 'Asset' = 2, 'ImmersiveAd' = 3]",
            "enum": [
              0,
              1,
              2,
              3
            ],
            "type": "integer"
          }
        },
        "groupId": {
          "format": "int64",
          "description": "The group id, if applicable.",
          "type": "integer"
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.GetRecentAdsRankedUniversesResponse": {
      "description": "The response model for getting a list of recent-ads-ranked universes.",
      "type": "object",
      "properties": {
        "universes": {
          "description": "Gets or sets a list of Roblox.AdConfiguration.Api.Models.UniverseModel.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.UniverseModel"
          }
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.StopSponsoredCampaignRequest": {
      "description": "A model represents a request to stop a sponsored campaign / ad.",
      "type": "object",
      "properties": {
        "adSetId": {
          "format": "int64",
          "description": "The ID of the ad set to stop.",
          "type": "integer"
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.StopSponsoredGameV2Request": {
      "description": "A model represents a request to stop a sponsored game ad.",
      "type": "object",
      "properties": {
        "adSetId": {
          "format": "int64",
          "description": "Gets the ID of the ad set to stop.",
          "type": "integer"
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.UniverseModel": {
      "description": "Represents a universe in API endpoint results.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "The universe Id.",
          "type": "integer"
        },
        "name": {
          "description": "The name of the universe",
          "type": "string"
        }
      }
    },
    "Roblox.AdConfiguration.Api.SponsoredCampaignModel": {
      "description": "A response model represents an Ad with complete information, including infos from its associated campaign and ad set",
      "type": "object",
      "properties": {
        "adId": {
          "format": "int64",
          "description": "The id of the ad",
          "type": "integer"
        },
        "adSetId": {
          "format": "int64",
          "description": "The id of the ad set",
          "type": "integer"
        },
        "adName": {
          "description": "The name of the Ad",
          "type": "string"
        },
        "adStatus": {
          "format": "int32",
          "description": "The status of the ad ['Undefined' = 0, 'Draft' = 1, 'PendingApproval' = 2, 'Approved' = 3, 'Moderated' = 4]",
          "enum": [
            0,
            1,
            2,
            3,
            4
          ],
          "type": "integer"
        },
        "creativeType": {
          "format": "int32",
          "description": "The type of the creative associated with the Ad ['Undefined' = 0, 'Image' = 1, 'Video' = 2]",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "creativeTargetId": {
          "format": "int64",
          "description": "The target id of the creative associated with the Ad",
          "type": "integer"
        },
        "bidAmountInRobux": {
          "format": "int64",
          "description": "The bid amount of the Ad in Robux",
          "type": "integer"
        },
        "budgetInRobux": {
          "format": "int64",
          "description": "The budget of the ad set in Robux",
          "type": "integer"
        },
        "adSetStatus": {
          "format": "int32",
          "description": "The status of the ad set ['Undefined' = 0, 'Draft' = 1, 'Scheduled' = 2, 'Running' = 3, 'Paused' = 4, 'Stopped' = 5, 'Completed' = 6]",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6
          ],
          "type": "integer"
        },
        "startDate": {
          "format": "date-time",
          "description": "The start date of the ad set",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "description": "The end date of the ad set",
          "type": "string"
        },
        "targetGender": {
          "format": "int32",
          "description": "The target gender of the ad set ['Undefined' = 1, 'Male' = 2, 'Female' = 4]",
          "enum": [
            1,
            2,
            4
          ],
          "type": "integer"
        },
        "targetAgeBracket": {
          "format": "int32",
          "description": "The target age bracket of the ad set ['Undefined' = 1, 'AgeUnder13' = 2, 'Age13OrOver' = 4, 'Age13To16' = 8, 'Age17OrOver' = 16]",
          "enum": [
            1,
            2,
            4,
            8,
            16
          ],
          "type": "integer"
        },
        "targetDeviceType": {
          "format": "int32",
          "description": "The target device type of the ad set ['Undefined' = 1, 'Computer' = 2, 'Phone' = 4, 'Tablet' = 8, 'Console' = 16]",
          "enum": [
            1,
            2,
            4,
            8,
            16
          ],
          "type": "integer"
        },
        "campaignTargetType": {
          "format": "int32",
          "description": "The target type of the campaign ['Undefined' = 0, 'Universe' = 1, 'Asset' = 2, 'ImmersiveAd' = 3]",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "campaignTargetId": {
          "format": "int64",
          "description": "The target id of the campaign",
          "type": "integer"
        },
        "totalSpendInRobux": {
          "format": "int64",
          "description": "The total spend of the ad set in Robux",
          "type": "integer"
        },
        "totalImpressions": {
          "format": "int64",
          "description": "The total number of impressions generated by the ad",
          "type": "integer"
        },
        "totalClicks": {
          "format": "int64",
          "description": "The total number of clicks generated by the ad",
          "type": "integer"
        },
        "totalConversions": {
          "format": "int64",
          "description": "The total number of conversions generated by the ad",
          "type": "integer"
        },
        "impressionConversions": {
          "format": "int64",
          "description": "The number of conversions by ad impression generated by the ad",
          "type": "integer"
        },
        "clickConversions": {
          "format": "int64",
          "description": "The number of conversions by ad click generated by the ad",
          "type": "integer"
        }
      }
    },
    "Roblox.AdConfiguration.Api.SponsoredGameV2Model": {
      "description": "A response model represents an Ad with complete information, including infos from its associated campaign and ad set",
      "type": "object",
      "properties": {
        "adId": {
          "format": "int64",
          "description": "The id of the ad",
          "type": "integer"
        },
        "adSetId": {
          "format": "int64",
          "description": "The id of the ad set",
          "type": "integer"
        },
        "adName": {
          "description": "The name of the Ad",
          "type": "string"
        },
        "adStatus": {
          "format": "int32",
          "description": "The status of the ad ['Undefined' = 0, 'Draft' = 1, 'PendingApproval' = 2, 'Approved' = 3, 'Moderated' = 4]",
          "enum": [
            0,
            1,
            2,
            3,
            4
          ],
          "type": "integer"
        },
        "creativeType": {
          "format": "int32",
          "description": "The type of the creative associated with the Ad ['Undefined' = 0, 'Image' = 1, 'Video' = 2]",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "creativeTargetId": {
          "format": "int64",
          "description": "The target id of the creative associated with the Ad",
          "type": "integer"
        },
        "creativeUrl": {
          "description": "The Url of the creative",
          "type": "string"
        },
        "bidAmountInRobux": {
          "format": "int64",
          "description": "The bid amount of the Ad in Robux",
          "type": "integer"
        },
        "budgetInRobux": {
          "format": "int64",
          "description": "The budget of the ad set in Robux",
          "type": "integer"
        },
        "adSetStatus": {
          "format": "int32",
          "description": "The status of the ad set ['Undefined' = 0, 'Draft' = 1, 'Scheduled' = 2, 'Running' = 3, 'Paused' = 4, 'Stopped' = 5, 'Completed' = 6]",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6
          ],
          "type": "integer"
        },
        "startDate": {
          "format": "date-time",
          "description": "The start date of the ad set",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "description": "The end date of the ad set",
          "type": "string"
        },
        "targetGender": {
          "format": "int32",
          "description": "The target gender of the ad set ['Undefined' = 1, 'Male' = 2, 'Female' = 4]",
          "enum": [
            1,
            2,
            4
          ],
          "type": "integer"
        },
        "targetAgeBracket": {
          "format": "int32",
          "description": "The target age bracket of the ad set ['Undefined' = 1, 'AgeUnder13' = 2, 'Age13OrOver' = 4, 'Age13To16' = 8, 'Age17OrOver' = 16]",
          "enum": [
            1,
            2,
            4,
            8,
            16
          ],
          "type": "integer"
        },
        "targetDeviceType": {
          "format": "int32",
          "description": "The target device type of the ad set ['Undefined' = 1, 'Computer' = 2, 'Phone' = 4, 'Tablet' = 8, 'Console' = 16]",
          "enum": [
            1,
            2,
            4,
            8,
            16
          ],
          "type": "integer"
        },
        "campaignTargetType": {
          "format": "int32",
          "description": "The target type of the campaign ['Undefined' = 0, 'Universe' = 1, 'Asset' = 2, 'ImmersiveAd' = 3]",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "campaignTargetId": {
          "format": "int64",
          "description": "The target id of the campaign",
          "type": "integer"
        },
        "totalSpendInRobux": {
          "format": "int64",
          "description": "The total spend of the ad set in Robux",
          "type": "integer"
        },
        "totalImpressions": {
          "format": "int64",
          "description": "The total number of impressions generated by the ad",
          "type": "integer"
        },
        "totalClicks": {
          "format": "int64",
          "description": "The total number of clicks generated by the ad",
          "type": "integer"
        },
        "totalConversions": {
          "format": "int64",
          "description": "The total number of conversions generated by the ad",
          "type": "integer"
        },
        "impressionConversions": {
          "format": "int64",
          "description": "The number of conversions by ad impression generated by the ad",
          "type": "integer"
        },
        "clickConversions": {
          "format": "int64",
          "description": "The number of conversions by ad click generated by the ad",
          "type": "integer"
        }
      }
    },
    "Roblox.Web.WebAPI.ApiEmptyResponseModel": {
      "type": "object"
    }
  }
}